<div class="item-thumbnail__img">
  {{deferred-image image=(hash imageUrl=item.imgThumbnail description=item.title)}}
</div>
<div class="item-thumbnail__caption">
  <span class="item-thumbnail__title">{{item.title}}</span>
  <span class="item-thumbnail__price">{{price item.price}}</span>
</div>
