<div class="item-thumbnail__img">
  <img src={{item.imgThumbnail}} alt={{item.title}} />
</div>
<div class="item-thumbnail__caption">
  <span class="item-thumbnail__title">{{item.title}}</span>
  <span class="item-thumbnail__price">{{price item.price}}</span>
</div>
