<header>
  {{#link-to 'index'}}<h1>Rommie Schilstra</h1>{{/link-to}}
  <nav>
    <li>{{link-to 'Shop' 'shop.index'}}</li>
    <li>{{link-to 'About' 'about'}}</li>
    <li>{{link-to 'Contact' 'contact'}}</li>
  </nav>
</header>
<main>
  {{outlet}}
</main>
